test/
.github/
.circleci/
.dependabot/
.vscode/
.idea/
.nyc_output/
.eslintrc
.prettierrc
.prettierignore
.lambda
.taprc
coverage/
lib-cov/
*.md
*.env
*.log
profile-*
*.flamegraph
npm-debug.log*
pnpmfile.js
